.tc1a {
  color: #cc9aff;
}

.tc1b {
  color: #8dd484;
}

.tc1c {
  color: #f0dc82;
}

.tc1d {
  color: #f08296;
}

.tc1e {
  color: #82cdf0;
}

.tc1f {
  color: #E6E6E6;
}

.tc2a {
  color: #af77e7;
}

.tc2b {
  color: #26c64f;
}

.tc2c {
  color: #ebc300;
}

.tc2d {
  color: #ff6961;
}

.tc2e {
  color: #2db6f3;
}

.tc2f {
  color: rgb(1, 1, 1);
}

.fc1a {
  background: #E2C5FF;
}

.fc1b {
  background: hsl(112.9, 55.7%, 76.1%);
}

.fc1c {
  background: hsl(49.1, 78.6%, 72.5%);
}

.fc1d {
  background: hsl(349.1, 78.6%, 72.5%);
}

.fc1e {
  background: hsl(199.1, 78.6%, 72.5%);
}

.fc1f {
  background: rgb(230, 230, 230);
}

.fc2a {
  background: #b66eff;
}

.fc2b {
  background: hsl(113, 55%, 50%);
}

.fc2c {
  background: hsl(49, 72%, 59%);
}

.fc2d {
  background: hsl(349, 91%, 64%);
}

.fc2e {
  background: hsl(199, 77%, 59%);
}

.fc2f {
  background: rgb(80, 80, 80);
}

.fc3a {
  background: #b66eff;
}

.fc3b {
  background: hsl(113, 55%, 50%);
}

.fc3c {
  background: hsl(49, 72%, 59%);
}

.fc3d {
  background: hsl(349, 91%, 64%);
}

.fc3e {
  background: hsl(199, 77%, 59%);
}

.fc3f {
  background: rgb(80, 80, 80);
}
