@import 'base.css';
@import 'color.css';
@import 'globals.css';
@import 'theme.css';
@import 'gg.css';
@import 'dracula.css';
@import 'icons.css';

@font-face {
  font-family: ToneEtch;
  src: url('/fonts/ToneEtch.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.ml12 {
  margin-left: 22px;
}

.ct {
  -webkit-filter: contrast(100);
}

/*
*::-webkit-scrollbar {

}

*::-webkit-scrollbar-button {

}

*::-webkit-scrollbar-track {


}

*::-webkit-scrollbar-track-piece {

}

*::-webkit-scrollbar-thumb {

}

*::-webkit-scrollbar-corner {

}

*::-webkit-resizer {

}*/

@keyframes flow {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  border: none;
  border-radius: unset;
}

*:focus {
  outline: none;
}

.iv {
  background: black;
  filter: invert(100%);
}

.sp {
  display: flex;
  justify-content: space-between;
}

.w100p {
  width: 100%;
}

.h100p {
  height: 100%;
}

.pa {
  position: absolute;
}

.load {
  /*animation: flow 512ms ease-in-out 5;*/
}

.code {
  font-size: 18px;
  line-height: 1.4;
  transition: opacity 128ms ease-in-out;
}

.text {
  transition: opacity 128ms ease-in-out;
}

.code,
.code *,
.text,
.text * {
  user-select: text;
}

.hall {
  height: 800vh;
}

.rock {
  width: 100%;
  height: 200vh;
}

.rock:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/images/rock.png);
  background-size: 384px;
  background-repeat: repeat;
  -webkit-mask-image: linear-gradient(
    transparent 0%,
    #fff 10%,
    #fff 90%,
    transparent 100%
  );
  mask-image: linear-gradient(
    transparent 0%,
    #fff 10%,
    #fff 90%,
    transparent 100%
  );
  /*box-shadow: inset 0 0 0 2px black;*/
}

.soil {
  width: 100%;
}

.soil:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  background-image: url(/images/soil.png);
  background-size: 672px;
  background-repeat: repeat;
  -webkit-mask-image: linear-gradient(
    transparent 0%,
    #fff 25%,
    #fff 75%,
    transparent 100%
  );
  mask-image: linear-gradient(
    transparent 0%,
    #fff 25%,
    #fff 75%,
    transparent 100%
  );
  /*box-shadow: inset 0 0 0 2px black;*/
}

.soil.head:before {
  -webkit-mask-image: linear-gradient(
    transparent 0%,
    #fff 25%,
    transparent 40%,
    transparent 60%,
    #fff 75%,
    transparent 100%
  );
  mask-image: linear-gradient(
    transparent 0%,
    #fff 25%,
    transparent 50%,
    #fff 75%,
    transparent 100%
  );
}

.soil.head2:before {
  -webkit-mask-image: linear-gradient(
    transparent 0%,
    #fff 15%,
    transparent 30%,
    transparent 70%,
    #fff 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    transparent 0%,
    #fff 15%,
    transparent 30%,
    transparent 70%,
    #fff 85%,
    transparent 100%
  );
}

.tube {
  width: 100%;
}

.tube:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  background-image: url(/images/tube.png);
  background-size: 672px;
  background-repeat: repeat;
  -webkit-mask-image: linear-gradient(
    transparent 0%,
    #fff 25%,
    #fff 75%,
    transparent 100%
  );
  mask-image: linear-gradient(
    transparent 0%,
    #fff 25%,
    #fff 75%,
    transparent 100%
  );
  /*box-shadow: inset 0 0 0 2px black;*/
}

.ni16 {
  margin-left: 12px;
  text-indent: -11px;
}

.star {
  width: 100%;
  height: 200vh;
  margin: 128px 0px;
}

.star:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/images/star.svg);
  background-size: 384px;
  background-repeat: repeat;
  -webkit-mask-image: linear-gradient(
    transparent 0%,
    #fff 25%,
    #fff 75%,
    transparent 100%
  );
  mask-image: linear-gradient(
    transparent 0%,
    #fff 25%,
    #fff 75%,
    transparent 100%
  );
  /*box-shadow: inset 0 0 0 2px black;*/
}

.plr16 {
  padding-left: 16px;
  padding-right: 16px;
}

.wall {
  font-size: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.s {
  flex: 1 1 auto;
}

.g {
  flex-grow: 1;
}

.mb16 {
  margin-bottom: 16px;
}

.mb32 {
  margin-bottom: 32px;
}

.face {
  display: flex;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding: 24px 0px 48px 0px;
}

.pt24 {
  padding-top: 24px;
}

.pb48 {
  padding-bottom: 48px;
}

.p32 {
  padding: 32px;
}

.p64 {
  padding: 64px;
}

.face .head {
  width: 100%;
  height: 100%;
  background: url(/images/face.png) center center no-repeat;
  background-size: contain;
}

.of {
  object-fit: contain;
}

.fire {
  background: url(/images/fire.png) center center no-repeat;
  background-size: cover;
}

.r {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.head-fill {
  width: 100%;
  height: 100%;
  background: url(/images/face.png) center center no-repeat;
  background-size: contain;
}

.wave {
  width: 100%;
  height: 200vh;
}

.wave:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/images/wave.png);
  background-size: 512px;
  background-repeat: repeat;
  -webkit-mask-image: linear-gradient(
    transparent 0%,
    #fff 10%,
    #fff 90%,
    transparent 100%
  );
  mask-image: linear-gradient(
    transparent 0%,
    #fff 10%,
    #fff 90%,
    transparent 100%
  );
  /*box-shadow: inset 0 0 0 2px black;*/
}

.rock-slab {
  width: 100%;
  background: white;
  margin: 32px 0px 48px 0px;
  padding: 16px 0px;
  box-shadow: inset 0px 1px 0px black, inset 0px -1px 0px black;
}

.rock-slab:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -32px;
  left: 0px;
  right: 0px;
  bottom: -48px;
  background: url(/images/rock.png);
  background-size: 32px;
  background-repeat: repeat;
  -webkit-mask-image: linear-gradient(
    transparent 0%,
    #fff 25%,
    #fff 75%,
    transparent 100%
  );
  mask-image: linear-gradient(
    transparent 0%,
    #fff 25%,
    #fff 75%,
    transparent 100%
  );
}

.pf {
  position: fixed;
}

.wave-slab {
  width: 100%;
  background: white;
  margin: 0px 0px 8px 0px;
  padding: 16px 0px;
  /*box-shadow: inset 0px 1px 0px #333, inset 0px -1px 0px #333;*/
}

.wave-slab:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: -8px;
  background: url(/images/wave.png);
  background-size: 32px;
  background-repeat: repeat;
  -webkit-mask-image: linear-gradient(
    transparent 0%,
    #fff 35%,
    #fff 65%,
    transparent 100%
  );
  mask-image: linear-gradient(
    transparent 0%,
    #fff 35%,
    #fff 65%,
    transparent 100%
  );
}

.mtb32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.w32 {
  width: 32px;
}

.h32 {
  height: 32px;
}

.b16 {
  bottom: 16px;
}

.r16 {
  right: 16px;
}

.talk .talk > p,
.talk > ul,
.talk > ol {
  max-width: 768px;
}

.v {
  display: flex;
  flex-direction: column;
}

.h {
  display: flex;
  flex-direction: row;
}

.fx {
  display: flex;
}

.hc {
  display: flex;
  justify-content: center;
}

.vc {
  display: flex;
  align-items: center;
}

.tc {
  text-align: center;
}

.c {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.minh100v {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.maxw768 {
  max-width: 768px;
}

.maxw672 {
  max-width: 672px;
}

.w100v {
  width: 100vw;
}

.h100v {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.pb16 {
  padding-bottom: 16px;
}

.pb32 {
  padding-bottom: 32px;
}

.fs16 {
  font-size: 16px;
  line-height: 1.4;
  /*letter-spacing: -2.1px;*/
}

.fs18 {
  font-size: 18px;
  line-height: 1.4;
  /*letter-spacing: -2.1px;*/
}

.fs24 {
  font-size: 24px;
  /*letter-spacing: -3px;*/
}

.fs32 {
  font-size: 32px;
  /*letter-spacing: -7px;*/
}

.fs48 {
  font-size: 48px;
  /*letter-spacing: -10px;*/
}

.fs64 {
  font-size: 64px;
  /*letter-spacing: -12px;*/
}

.fs128 {
  font-size: 128px;
  /*letter-spacing: -20px;*/
}

.ptb64px {
  padding-top: 64px;
  padding-bottom: 64px;
}

.ptb128px,
.ptb128 {
  padding-top: 128px;
  padding-bottom: 128px;
}

.tree {
  width: 100vw;
  padding: 64px 0px;
  display: flex;
}

.tree-slab {
  flex-direction: column;
  max-width: 768px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.ml22 {
  margin-left: 22px;
}

.lead {
  display: flex;
  font-size: 64px;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.move {
  opacity: 1;
  transition: color 128ms ease-in-out;
}

.talk > * {
  font-size: 24px;
}

.talk {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.talk {
  width: 100vw;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
}

.wall {
  font-size: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.foot *,
.link * {
  transition: color 128ms ease-in-out;
}

.foot *:hover,
.link *:hover {
  color: #bbb;
}

.hy {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  word-break: break-word;
  hyphens: auto;
}

.w {
  display: flex;
  flex-wrap: wrap;
}

.w i {
  width: 5%;
  text-align: center;
  font-size: 24px;
}

.fast .rock:before {
  background-image: url(/images/rock-flow.svg);
}

.fast .star:before {
  background-image: url(/images/star-flow.svg);
}

.ptb64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.mtb64 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.mtb128 {
  margin-top: 128px;
  margin-bottom: 128px;
}

@media (min-width: 768px) {
  .zvw672minw672 {
    min-width: 672px;
  }
}

@media (max-width: 600px) {
  .a3 {
    animation: spin 128s linear infinite;
  }

  .zvw672minw672 {
    width: 100%;
  }

  .zvw672minw672 #description li a {
    font-size: 24px;
    padding: 5px 0px;
  }

  .vw600ptb64 {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .vw600fs48 {
    font-size: 48px;
    /*letter-spacing: -10px;*/
  }

  .vw600fs64 {
    font-size: 64px;
    /*letter-spacing: -12px;*/
  }

  .vw600fs32 {
    font-size: 32px;
    /*letter-spacing: -7px;*/
  }

  .vw600fs24 {
    font-size: 24px;
    /*letter-spacing: -3px;*/
  }
}

@media (orientation: portrait) {
  .soil:before {
    background-size: auto 672px;
  }

  .tube:before {
    background-size: auto 672px;
  }

  .code {
    display: flex;
    justify-content: center;
    padding: 64px;
  }

  .text {
    display: flex;
    justify-content: center;
  }

  .code pre,
  .text {
    display: flex;
    width: 100%;
    font-size: 20px;
  }

  .text p,
  .text li {
    width: 100%;
  }

  .tail {
    display: none;
  }

  .rock,
  .wave {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  .hall {
    height: 200vh;
  }

  .rock:before {
    background-size: 256px;
  }
}

.fire {
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-size: contain;
}

@media (orientation: landscape) {
  .code,
  .text {
    display: flex;
    justify-content: center;
    padding: 128px 64px;
  }

  .code pre,
  .text p {
    display: flex;
    max-width: 768px;
  }
}

.hole {
  margin-top: 128px;
  background-size: auto;
  overflow-x: hidden;
}

.hole:before {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/images/hole.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-mask-image: linear-gradient(
    transparent 0%,
    #fff 10%,
    #fff 90%,
    transparent 100%
  );
  mask-image: linear-gradient(
    transparent 0%,
    #fff 10%,
    #fff 90%,
    transparent 100%
  );
}

.land {
  margin: 128px 0px;
  background-size: auto;
  overflow-x: hidden;
}

.oys {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.land:before {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/images/land.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-mask-image: linear-gradient(
    transparent 0%,
    transparent 10%,
    #fff 30%,
    #fff 70%,
    transparent 90%,
    transparent 100%
  );
  mask-image: linear-gradient(
    transparent 0%,
    transparent 10%,
    #fff 30%,
    #fff 70%,
    transparent 90%,
    transparent 100%
  );
}

.link {
  flex: 1;
}

.link a {
  width: 100%;
  margin: 32px 0px;
  display: flex;
  flex-direction: column;
}

.link span:nth-child(1) {
  font-size: 96px;
}

.link span:nth-child(2) {
  font-size: 24px;
}

.list {
  display: flex;
  flex-direction: column;
}

.word {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.head {
  display: flex;
}

.hint {
  padding: 256px 0px 0px 0px;
}

@media (orientation: portrait) {
  .flow {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-x: hidden;
  }

  .flow img {
    height: 100%;
  }

  .face {
    padding: 10px;
  }

  .code pre.head {
    display: flex;
    width: 100%;
  }

  .hole {
    width: auto;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
  }

  .hole img {
    height: 100%;
  }

  .link span:nth-child(1) {
    font-size: 64px;
  }

  .link span:nth-child(2) {
    font-size: 16px;
  }
}

.t4 {
  transition: transform;
}

.a4 {
  animation: scale2 1024ms ease-in-out infinite alternate;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

@keyframes scale2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes jump {
  from {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
  to {
    opacity: 0.9;
    transform: scale(0.97) translateY(-16px);
  }
}

@keyframes jump2 {
  from {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
  to {
    opacity: 0.9;
    transform: scale(0.99) translateY(-8px);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.a1 {
  animation: jump 512ms ease-in-out infinite alternate;
}

.a2 {
  animation: jump2 1024ms ease-in-out infinite alternate;
}

.a3 {
  transform-origin: 50% 50%;
  animation: spin 512s linear infinite;
}

@media (orientation: landscape) {
  .flow {
    width: 100vw;
  }

  .flow img {
    width: 100%;
  }

  .code pre.head {
    display: flex;
    max-width: 256px;
    flex: 1;
  }

  .code *,
  .text * {
    user-select: text;
  }

  pre.tail {
    display: flex;
    max-width: 256px;
    flex: 1;
    transform: scale(-1, 1);
    opacity: 0.1;
  }

  .tail * {
    user-select: none;
  }

  .leaf.text {
    max-width: 768px;
  }
}

.leaf {
  font-size: 64px;
}

.slab {
  position: fixed;
  z-index: 10000;
}

.fall {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0ms 256ms, opacity 256ms ease-in-out;
}

.cp {
  cursor: pointer;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0ms 256ms, opacity 256ms ease-in-out;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 256ms ease-in-out;
}

.tc1 * {
  color: #000;
  transition: color 256ms ease-in-out;
}

.tc1:hover * {
  color: #777;
}

.h800v {
  height: 800vh;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
